.inputAutocomplete {
    padding: 8px;
    margin: 25px;
    margin-bottom: 0px;
    width: 80%;
    border-radius: 5px;
    font-size: 100%;  
  }

.inputAutocomplete::placeholder {
    color: #9c9a9a;
  }

.noSuggestions {
    color: #999;
    padding: 0.5rem;
  }
  
.suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin: 25px;
    margin-top: 0px;
    max-height: 143px;
    overflow-y: auto;
    padding:8px;;
    width: 80%;
  }
  
.suggestions li {
    padding: 0.5rem;
  }
  
.suggestionActive,
.suggestions li:hover {
    background-color: rgb(207, 207, 207);
    color: black;
    cursor: pointer;
    font-weight: 700;
  }
  
.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }
