.chosenCities {
    margin-top: 30px;
    padding: 0;
    list-style-type: none;
    max-height: 500px;
    overflow: auto;
}

.chosenCities li {
    background-color: white;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

@media (max-height:600px) {
    .chosenCities {
        max-height: 400px;
    }
 }