.wrapper label {
    width:80%;
    padding: 15px;
    margin: 0 auto;
    display: inline-block; 
    text-align: left; 
    font-weight: bold;
}

.wrapper input[type="password"] {
    width:80%;
    height: 15px;
    padding: 15px;
    margin: 0 auto;
    display: inline-block;
    border: 1px solid white;
    color: black;
    border-bottom-color: rgb(94, 216, 121);
    border-bottom-width: 1px;
    background-color:  rgb(202, 240, 210);
}

.passwordDescription {
    float:left;
}

.wrapper{
    position: relative;
}

.pwd_strength_wrap {
        border: 1px solid #D5CEC8;
        display: none;
        left: 15%;
        right: 15%;
        padding: 10px;
        position: absolute ;
        width: 60%;
        height: 50;
        background-color: white;  
}

.pwd_strength_wrap:before, .pwd_strength_wrap:after {
        height: 0;
        position: absolute;
        width: 0;
}

.pwd_strength_wrap:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0.1);
	border-left: 7px solid rgba(0, 0, 0, 0.1);
    border-top: 7px solid rgba(0, 0, 0, 0);
    display: inline-block;
    position: absolute;
    top: 10px;
}

.pwd_strength_wrap:after {
    border-bottom: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid #fff;
	border-left: 6px solid #fff;
    border-top: 6px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    top: 11px;
}

.pswd_info ul {
        list-style-type: none;
        margin: 5px 0 0;
        padding: 0;      
}

.pswd_info ul li {
        text-align:left;
        padding: 0 0 0 20px;

}

.pswd_info ul li.valid {
        background-position: left -42px;
        color: green;
}

.passwordStrength {
    display: block;
    height: 5px;
    width: 60%;
    margin-bottom: 10px;
    transition: all 0.4s ease;
}

.strength0 {
    background: none; /* too short */
    width: 0px;  
}

.strength1 {
    background: none repeat scroll 0 0 #FF4545;/* weak */
    width: 30px; 
}

.strength2 {
    background: none repeat scroll 0 0 #FFC824;/* good */
    width: 80px;
}

.strength3 {
     background: none repeat scroll 0 0 #6699CC;/* strong */
    width: 130px; 
}
 
.strength4 {
        background: none repeat scroll 0 0 #008000;/* best */
    width: 180px;
}


