header {
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 100;
    color: white;
}

header .title {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 30px;
}

header a {
    color: white;
    text-decoration: none;
}