/*mobile*/
.formDiv {
    width: 100%;
    position: relative;
    top: 45px;
}

.loginForm {
    margin: 0 auto;
    width: 60%;
    background-color: white;
    box-shadow: 0 3px 3px #ccc;
    border: 1px solid #eee;
    padding: 20px 20px 40px;
    border-radius: 8px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.loginForm .label,
.loginForm  .errorLabel {
    display: block;
}

.loginForm .errorLabel {
    color: red;
    margin-bottom: 10px;
}

.loginForm .input {
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: inherit;
}

.loginForm .button {
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
    font-size: inherit;
}

.cancelLoginBtn {
    margin-top: 25px;
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    font-size: inherit;
}

.loginForm .container {
    padding: 16px;
    width: 100%;
}

/* Change styles for cancel button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelLoginBtn {
        width: 100%;
    }
}

/*desktop*/
@media (min-width: 500px) {
    .loginForm .input, 
    .loginForm .button {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .loginForm {
        width: 80%;
    }
}


@media all and (width: 768px) and (height: 1024px) and (orientation:portrait) {
    .loginForm .container {
        font-size: 160%
    }
}

@media all and (width: 1024px) and (height: 768px) and (orientation:landscape) {
    .loginForm .container {
        font-size: 160%
    }
}